<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Price Predictor</h1>
    <form action="/predict" method="post">
        <label for="feature1">Feature 1:</label>
        <input type="text" id="feature1" name="feature1"><br><br>
        <label for="feature2">Feature 2:</label>
        <input type="text" id="feature2" name="feature2"><br><br>
        <input type="submit" value="Predict">
    </form>
    
</body>
</html>